<nav class="navbar navbar-expand-lg navbar-gradient">
    <div class="container-fluid">
        <div class="w-100 navbar-nav justify-content-start"><h6 class="navbar-title">¡Hola {{this.username}}!</h6></div>
        <a href="https://www.provinciamicrocreditos.com.ar/">
            <div class="navbar-nav justify-content-center">
                <img class="navbar-logo" src="../../assets/promeBlanco2x.png" alt="Provincia Microcréditos">
            </div>
        </a>
        <div class="w-100 navbar-nav justify-content-end">
            <button (click)="logout()" class="navbar-logout-btn hvr-grow align-i"><i
                    class="fas fa-sign-out-alt"></i></button>
        </div>
    </div>
</nav>