<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-gradient">
        <div class="container-fluid">
            <!-- <div class="w-100 navbar-nav justify-content-start navbar-username">¡Hola {{this.username}}!</div> -->
            <div class="w-100 navbar-nav justify-content-start navbar-username"></div>
            <a href="https://www.provinciamicrocreditos.com.ar/">
                <div class="navbar-nav justify-content-center">
                    <img class="navbar-logo" src="../../assets/logoWhiteP.png" alt="logo">
                    <div class="navbar-title">
                        <h1 class="navbar-title-provincia">Provincia</h1>
                        <h1 class="navbar-title-microcreditos">Microcréditos</h1>
                    </div>
                </div>
            </a>
            <div class="w-100 navbar-nav justify-content-end">
                <!-- <button (click)="logout()" class="navbar-logout-btn hvr-grow"><i
                        class="fas fa-sign-out-alt"></i></button> -->
            </div>
        </div>
    </nav>

    <!-- Google bar -->
    <div class="google">
        <div id="google-bar">
            <form method="get" action="http://www.google.com/search" target="_blank">
                <img id="google-logo" src="../../assets/logoGoogle.gif" alt="Google">
                <input id="google-input" type="search" name="q" maxlength="255" value=""
                    placeholder="Buscar en Google o escribir una URL">
                <button id="google-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <!-- Grid -->
    <div class="grid-container"><!--#dropListContainer cdkDropListGroup-->
        <div *ngFor="let site of sitesList; let i = index"><!--cdkDropList [cdkDropListData]="i"-->
            <div class="btn-site hvr-grow animate__animated animate__fadeIn">
                <!-- cdkDrag
                cdkDragBoundary=".grid-container"
                [cdkDragData]="i"
                (cdkDragEntered)="dragEntered($event)"
                (cdkDragMoved)="dragMoved($event)"
                (cdkDragDropped)="dragDropped($event)"> -->
                <a href={{sitesList[i].href}}  target={{sitesList[i].target}}>
                    <div class="btn-site-circle d-flex justify-content-center align-items-center">
                        <img class="btn-site-logo img-fluid p-2 animate__animated animate__fadeIn"
                            src={{sitesList[i].imgPath}}>
                    </div>
                    <h5 class="site-name">{{sitesList[i].name}}</h5>
                </a>
            </div>
        </div>
    </div>







    <!-- <div class="example-container" cdkDropListGroup>
        <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)"></div>
        <div cdkDropList *ngFor="let item of items"
             [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
          <div cdkDrag class="example-box" (cdkDragMoved)="dragMoved($event);">{{item}}</div>
        </div>
      </div>  -->
</body>