body {
    justify-content: center;
    position: relative;
    min-height: 100vh;
    padding-bottom: 1rem;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-gradient {
    background: rgb(39, 157, 46);
    background: linear-gradient(90deg, rgba(39, 157, 46, 1) 0%, rgba(38, 186, 195, 1) 88%);
    position: sticky;
    top: 0;
    z-index: 100;
    display: inline-block;
    justify-content: center;
    width: 100vw;
    flex-wrap: nowrap;
    padding: 0.5rem;
}

.navbar-logo {
    display: flex-start;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: auto;
    margin: auto 0;
    margin-right: 20px;
}

.navbar-title {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    column-gap: 0;
}

.navbar-title-provincia {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 650;
}

.navbar-title-microcreditos {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

.navbar-logout-btn {
    margin: auto 1rem auto 0;
    height: 3rem;
    background: rgba(39, 157, 46, 0);
    border-style: none;
}

.fa-arrow-left {
    width: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    color: #FFFFFF;
    font-size: 30px;
    vertical-align: middle;
}

.google {
    width: 45vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}

#google-bar {
    float: left;
    display: flex;
    justify-content: center;
    border-style: none;
    margin: 2.5rem 1rem;
}

form {
    background-color: #FFFFFF;
    display: flex;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#google-logo {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

#google-input {
    border-style: none;
    width: 50vw;
}

#google-button {
    border-style: none;
    background-color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}

.fa-search {
    color: #3C3C3B;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    border-color: none;
    outline: none;
}

.grid-container {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
    margin-bottom:0.8rem;
    /* display: flex;*/
    justify-content: center; 
    width: 100vw;
}

.btn-site {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-bottom: 0vw;
    width: 12vw;
}

.btn-site-circle {
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: auto;
    height: auto;
    margin-top: 1rem;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    margin: auto;
}

.btn-site-logo {
    width: 5vw;
    justify-content: center;
}

.site-name {
    color: #3C3C3B;
    font-size: 0.8rem;
    margin-top: 8%;
    text-align: center;
    white-space: normal;
    word-wrap: normal;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-return{
    display: flex;
    justify-content: center;
    width: 6rem;
    border-style: none;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(39, 157, 46, 1) 0%, rgba(38, 186, 195, 1) 88%);

}

footer {
    margin-top: 4rem;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.bicentenary {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media (max-width: 720px) {

    .navbar-logo {
        width: 35px;
        height: 35px;
    }

    .navbar-title-provincia {
        font-size: 17.5px;
        margin-right: 9px;
    }

    .navbar-title-microcreditos {
        font-size: 17.5px;
    }

    .grid-container {
        padding: 0 1rem;
    }

    .grid-container {
        gap: 0.5rem;
    }

    .btn-site {
        width: 18vw;
    }

    .btn-site-circle {
        width: 60px;
        height: 60px;
        margin-top: 1rem;
    }

    .btn-site-logo {
        width: 45px;
        justify-content: center;
        padding: 2px;
    }

    .site-name {
        text-align: center;
        white-space: normal;
        word-wrap: normal;
        font-size: 0.8rem;
    }
}

@media (max-width: 639px) {

    .grid-container {
        padding: 1rem 1rem;
    }

    .grid-container {
        gap: 0.5rem;
    }

    .site-name {
        text-align: center;
        white-space: normal;
        word-wrap: normal;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {

    .navbar-logo {
        width: 28px;
        height: 28px;
    }

    .navbar-title-provincia {
        font-size: 14px;
        margin-right: 9px;
    }

    .navbar-title-microcreditos {
        font-size: 14px;
    }

    .google {
        height: 18vh;
    }

    .btn-site-circle {
        width: 50px;
        height: 50px;
    }

    .btn-site-logo {
        width: 45px;
        padding: 3px;
    }

    .site-name {
        text-align: center;
        white-space: normal;
        word-wrap: normal;
        font-size: 0.8rem;
    }
}

@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {

    .navbar-gradient {
        padding: 0px;
    }

    .navbar-logout-btn {
        margin: auto 0.4rem auto 1.5rem;
        padding-right: 0.5rem;
    }

    .google {
        width: 100vw;
        padding: 5px;
    }

    .site-name {
        text-align: center;
        white-space: normal;
        word-wrap: normal;
        font-size: 0.8rem;
    }
}

@media (max-width: 380px) {

    .navbar-logo {
        width: 26px;
        height: 26px;
    }

    .navbar-title-provincia {
        font-size: 13px;
        margin-right: 9px;
    }

    .navbar-title-microcreditos {
        font-size: 13px;
    }

    .site-name {
        text-align: center;
        white-space: normal;
        word-wrap: normal;
        font-size: 0.6rem;
    }
}

@media (max-width: 320px) {

    .navbar-logo {
        width: 24px;
        height: 24px;
        left: 1.5rem;
    }

    .navbar-title-provincia {
        font-size: 0.8rem;
    }

    .navbar-title-microcreditos {
        font-size: 0.8rem;
    }

    .google-bar {
        width: 100vw;
    }

    #google-input {
        display: flex;
        justify-content: center;
        border-style: none;
        width: 50vw;
        margin: auto;
        padding: 0;
    }

    .btn-site-circle {
        width: 40px;
        height: 40px;
        gap: 2rem
    }

    .btn-site-logo {
        width: 35px;
        padding: 1px;
    }

    .site-name {
        text-align: center;
        white-space: normal;
        word-wrap: normal;
        font-size: 0.4rem;
    }
}