<body>
    <div class="triangles-bottom-box">
        <img class="triangles-bottom animate__animated animate__fadeInLeft" src={{pathTriangles}} alt="Elemento gráfico">
    </div>
    <div class="login-div">
        <div class="login-title">
            <img class="login-img" src="../../assets/logoColorP.png" alt="Logo Provincia Microcréditos">
            <div class="login-title-prome">
                <h1 class="login-title-provincia">Provincia</h1>
                <h1 class="login-title-microcreditos">Microcréditos</h1>
            </div>
        </div>
        <button class="login-btn" id="login-btn"></button> <!--(click)="login()" -->
        
    </div>
    <div class="triangles-top-box">
        <img class="triangles-top animate__animated animate__fadeInRight" src={{pathTriangles}} alt="Elemento gráfico">
    </div>
</body>