body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    overflow: hidden;
}

.triangles-bottom-box {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.triangles-bottom {
    width: 25vw;
    min-width: 250px;
}

.triangles-center {
    display: none;
}

.triangles-top-box {
    height: 100vh;
    display: flex-start;
}

.triangles-top {
    width: 25vw;
    min-width: 250px;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
}

.animate__animated.animate__fadeInRight {
    --animate-duration: 2s;
}

.login-div {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 30vh;
    align-content: space-between;
}

.login-title {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
}

.login-title-prome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

.login-img {
    width: auto;
    height: 100%;
}

.login-title-provincia {
    font-weight: 650;
    font-size: 3rem;
}

.login-title-microcreditos {
    font-weight: 500;
    font-size: 3rem;
}

.login-btn {
    justify-content: center;
    border-style: none;
    position: relative;
    margin-top: 4rem;
}

.login-btn:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(229, 229, 229, 0.1);
    transition: all 1s ease;
    border-radius: 30px;
}

.login-btn:hover:before {
    width: 100%;
    border-radius: 30px;
}

@media (max-width: 720px) {

    .triangles-bottom {
        min-width: 250px;
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
    }

    .triangles-top-box {
        height: 100vh;
        display: flex;
    }

    .triangles-top {
        min-width: 250px;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    .login-img {
        height: 6rem;
    }

    .login-title-provincia {
        font-size: 1.5rem;
    }

    .login-title-microcreditos {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .login-img {
        height: 4rem;
    }
}

@media (max-width: 380px) {
    .login-img {
        height: 3rem;
    }

    .login-title-provincia {
        font-size: 1.25rem;

    }

    .login-title-microcreditos {
        font-size: 1.25rem;
    }
}


@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {

    .triangles-top {
        min-width: 180px;
    }

    .triangles-bottom {
        min-width: 180px;
    }

    .login-img {
        height: 4rem;
    }
}