body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-style: none;
    background-color: #E5E5E5;
}

h1 {
    margin: 0;
}

.triangles-top-box {
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

.triangles-top {
    width: 25vw;
    min-width: 250px;
}

.triangles-bottom-box {
    height: 100vh;
    display: flex-start;
}

.triangles-bottom {
    width: 25vw;
    min-width: 250px;
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 2s;
}

.animate__animated.animate__fadeInRight {
    --animate-duration: 2s;
}

.login-div {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50vw;
    height: 30vh;
    align-content: space-between;
}

.login-title {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.login-img {
    width: auto;
    height: 100%;
}

.login-title-prome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1.2rem;
    vertical-align: middle;
    height: 100%;
    width: auto;
}

.login-title-provincia {
    font-weight: 650;
    font-size: 3rem;
}

.login-title-microcreditos {
    font-weight: 500;
    font-size: 3rem;
}

.login-btn {
    justify-content: center;
    align-items: center;
}

.version {
    font-family: 'Encode Sans', sans-serif;
    color: #279D2E;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2rem;
}

@media (max-width: 5000px) {

    .login-img {
        height: 8rem;
    }
}

@media (max-width: 720px) {

    .triangles-top-box {
        height: 100vh;
        display: flex;
    }

    .triangles-top {
        min-width: 250px;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    .triangles-bottom {
        min-width: 250px;
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
    }

    .login-img {
        height: 6rem;
    }

    .login-title-provincia {
        font-size: 2.5rem;
    }

    .login-title-microcreditos {
        font-size: 2.5rem;
    }

    .version {
        display: none;
    }
}

@media (max-width: 380px) {

    .login-img {
        height: 4rem;
    }

    .login-title-provincia {
        font-size: 1.25rem;
    }

    .login-title-microcreditos {
        font-size: 1.25rem;
    }

    .version {
        display: none;
    }
}

@media (device-height : 568px) and (device-width : 320px) and (-webkit-min-device-pixel-ratio: 2) {

    .triangles-top {
        min-width: 180px;
    }

    .triangles-bottom {
        min-width: 180px;
    }

    .login-img {
        height: 4rem;
    }

    .version {
        display: none;
    }
}