a{
    text-decoration-line: none;
}

.navbar-gradient {
    background: rgb(39, 157, 46);
    background: linear-gradient(90deg,
        rgba(39, 157, 46, 1) 0%,
        rgba(38, 186, 195, 1) 88%);
    position: sticky;
    top: 0;
    z-index: 100;
    display: inline-block;
    justify-content: center;
    width: 100vw;
    flex-wrap: nowrap;
    padding: 0.5rem;
  }
  
  .navbar-logo {
    display: flex-start;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: auto;
    margin: auto 0;
    margin-right: 20px;
  }
  
  .navbar-title {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    column-gap: 0;
  }
  
  .navbar-title-provincia {
    color: #ffffff;
    font-size: 20px;
    font-weight: 650;
  }
  
  .navbar-title-microcreditos {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
  }
  
  .navbar-logout-btn {
    margin: auto 1rem auto 0;
    height: 3rem;
    background: rgba(39, 157, 46, 0);
    border-style: none;
  }
  
  .fa-sign-out-alt {
    width: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    color: #ffffff;
    font-size: 30px;
    vertical-align: middle;
  }
  
  .navbar-username {
    color: #ffffff;
    font-weight: 500;
  }